<h2>{{story.title}}</h2>
<h3>{{story.author}}</h3>
<h5>{{story.date}}</h5>
<br>
<img src={{story.image}} alt="story.date">
<p>{{story.content}}</p>
<br>
<button {{action 'delete' story}}>Delete</button>
